---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'variables';
@import  url('http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Roboto+Slab:700');

/* Reset */

body, h1, h2, h3, p, blockquote {
    margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Layout */

body {
    background-color: $color-key-base;
    color: $color-text-base;
    font-family: Georgia, serif;
    min-height: 100%;
}

.article,
.footer {
    background-color: white;
    border-color: #888;
    border-style: solid;
    border-width: 1px 0 0;
    padding: 20px 19px;
}

.footer { clear: both; }

/* Navigation */

.menu {
  margin-bottom: 20px;

  li {
    border: 0 dashed rgba(255,255,255,0.5);
    border-bottom-width: 1px;
    color: rgba(0,0,0,0.6);
    font: 112.5%/2.333 sans-serif;

    a {
      display: block;
      padding: 0 20px;
      text-decoration: none;
    }
  }
}

/* Type */

h1 {
    color: white;
    font: bold 187.5%/1 sans-serif;
    letter-spacing: -1px;
    margin: 0 20px 20px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.33);
}

h2 {
  border-bottom: 1px solid $color-line-light;
  font-size: 137.5%;
  font-weight: bold;
  line-height: 1.432;
  margin-bottom: 0.955em;

  &:not(:first-of-type) {
    border-top: 1px solid $color-line-light;
    margin-top: 0.79167em;
  }
}

h3, p, li { line-height: 1.5; }

p { margin-bottom: 1.5em; }

a {
  color: inherit;
  -moz-text-decoration-color: lighten($color-text-base, 50%);
}

.footer p {
  color: rgba(0,0,0,0.75);
  margin-bottom: 0;
}

.chapters,
.countries,
.examples {
  margin-bottom: 1.25em;

  li { margin-bottom: 0.25em; }
}

.examples li {
  font-style: italic;

  a,
  > em,
  > code { font-style: normal; }

  > code { background-color: lighten( $color-key-base, 25% ); }
}

.countries li {
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: block;
  padding-left: 1.5em;

  &.uk { background-image: url('{{ site.baseurl }}/images/gb.png'); }

  &.us { background-image: url('{{ site.baseurl }}/images/us.png'); }
}

code, pre {
  font-family: monospace;
  font-size: 1.231em; // Because 1em = 13px, for some reason
}

pre {
  @include linear-gradient(#efefef,#fff,#efefef);
  border: 1px solid #aaa;
  border-width: 1px 0;
  line-height: 1.5;
  margin: 0 0 1.75em;
  padding: 0 10px 1px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote { margin-left: 3em; }

/* Tables */

table { margin-bottom: 20px; }

thead th,
tbody td {
	border-left: 1px solid $color-line-light;
	line-height: 1.5;

  &:first-child { border-left: none; }
}

thead th { border-bottom: 1px solid $color-line-light; }

thead th:not(:first-child),
tbody td { width: 15% }

tbody {
  th {
    padding-left: 0.5em;
    text-align: left;
  }

  tr:nth-child(even) { background-color: #efefef; }

  td { text-align: center; }
}

.invalid th,
.invalid td { color: #800000; }

/* Home Article */

#cover { display: none; }

/* Home Page */

.home #blurb p:first-child {
  font-size: 112.5%;
  line-height: 1.458;
  margin-bottom: 1.1667em;
}

#cta .callout { display: none; }

/* About Page */

.about #blurb img {
  @include box-shadow(1px 1px 2px rgba(0,0,0,0.5));
  float: left;
  margin: 0 10px 10px 0;
}

/* Buy Online Page */

a.buyfrom {
	background-position: 0 50%;
	background-repeat: no-repeat;
  display: inline-block;
  padding-left: 1.5em;
}

a.nostarch { background-image: url('{{ site.baseurl }}/images/nostarch-icon.png'); }

a.oreilly { background-image: url('{{ site.baseurl }}/images/oreilly-icon.png'); }

/* Resources Page */

#links li h3,
#links li li { font-size: 100%; }

#links ul ul { margin-bottom: 20px; }

/* Chapter Page */

.version-note {

  h2 { padding-top: 0; }

  p:last-child { margin-bottom: 0; }
}

/* Blog Page */

.blog h2 a {
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

.widget-area > ul > li { font-size: 100%; }

#nav-below {
  border-top: 1px solid $color-line-light;
  margin-top: 1.4em;
  overflow: hidden;
  padding-top: 1.4em;

  > span {
    display: block;
    float: left;
    width: 50%;
  }
}

.single .see-all {
    border-top: 1px solid $color-line-light;
    margin-bottom: 0;
    padding-top: 1.4em;
    text-align: center;
}

@media (min-width: 641px) {
  @import 'desktop';
}
