---
layout: default
class: resources
title: Resources
---

<div class="section" id="chapters">
  <h2>Examples <i>&amp;</i> Support</h2>
  <ul class="chapters">
{% for page in site.pages %}
  {% if page.layout == 'chapter' %}
    <li><a href="{{ site.baseurl }}{{ page.url }}">Chapter {{ page.chapter }}</a>: {{ page.title }}</li>
  {% endif %}
{% endfor %}
  </ul>
</div>
<div class="section" id="links">
  <h2>Code Examples</h2>
  <p>All of the code examples from the book are available on Github; you can <a href="//github.com/stopsatgreen/thebookofcss3">fork the repository</a>, or download <a href="//github.com/stopsatgreen/thebookofcss3/archive/master.zip">a Zip archive of all files</a>.</p>
</div>
