<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.class }}">

    {% include header.html %}

    <div class="article">
      {{ content }}
    </div>

    <div class="article version-note">
      <div class="section">
        <h2>A note on browser versions</h2>
        <p>Where a <em>Yes</em> is used in these support tables it means that the feature is supported either in an evergreen browser or in at least the last three versions of Safari (6–8) or IE (9–11). Otherwise, a version number will be shown. With regards to IE, it’s safe to presume that, with a very few exceptions, almost nothing in this book is implemented in IE8 or below.</p>
        <p>For more complete version history I highly recommend the <a href="http://caniuse.com/">Can I use…</a> compatibility tables.</p>
      </div>
		</div>

    {% include footer.html %}

  </body>

</html>
